@keyframes dash {
  0% {
    //fill: #ffffff;
    stroke-dashoffset: 0;
  }
  50% {
    //fill: rgba(0, 0, 0, 0.1);
  }
  100% {
    //background-color: #ffffff;
  }
}

.drop-file {
  background-color: #f6f6f6;
}

.animated-dash {
  stroke-width: 3;
  stroke-dasharray: 5;
  stroke-dashoffset: 10;
  animation: dash .25s linear infinite;
}