@import "tailwind";

@theme {
  --color-st-white: #fff;
  --color-st-air: #6a7282;
  --color-st-air-disable: #d1d5dc;
  --color-st-bg: #e5e7eb;
  --color-st-hover-bg: #d1d5dc;
  --color-st-bg-dis: #f3f4f6;
  --color-st-bg-red: #c10007;
  --color-st-accept: #35530e;
}

//bg-white hover:bg-gray-100 text-gray-800 border border-gray-300

@layer components {
  .st-focus {
    @apply focus:outline-none focus:ring-1 focus:ring-inset focus:ring-offset-0 focus:ring-gray-500/50 select-none;
  }

  .st-border {
    @apply rounded-sm;
  }

  .st-air-tx {
    @apply text-base text-gray-600;
  }

  .st-air-bg {
    //@apply bg-gray-200;
  }

  .st-air {
    @extend .st-air-tx;
    @extend .st-air-bg;
    @extend .st-border;
  }

  .st-air-hover {
    @apply hover:bg-gray-500/20 transition;
  }

  .st-danger {
    @apply hover:bg-red-700 hover:text-white transition;
  }

  .bg-light-disabled {
    @apply bg-gray-100 pointer-events-none cursor-not-allowed;
  }

  .st-group {
    //@apply bg-gray-500/10;
    //outline: 1px solid #00000010;
    //outline-offset: -1px;
    //border-radius: 0.25rem;
  }

  .bg-checked {
    @apply bg-gray-700  text-white/80;
  }

  .bg-unchecked {
    @apply text-white;
  }
}

* {
  //outline: 1px solid rgba(0, 0, 0, 0.1);
  //margin: 1px;
}

body {
  height: 100vh;
  overflow: hidden;
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  //background: #8c93a1;
}

.no-scroll {
  overflow: hidden;
}

.no-resize {
  resize: none;
}

.no-select {
  -webkit-user-select: none;
}

.ev-none {
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  //border-radius: 20px;
  border: transparent;
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.rotY {
  animation: spin 1s infinite linear;
}

.zoom-out-container {
  position: relative;
}

.zoom-out {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  animation: growDisappear .5s ease;
}

@keyframes growDisappear {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  99.9% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.header-set {
  outline: 1px dashed #6c6c6c;
}

.two-columns {
  display: grid;
  grid-template-columns: auto auto; /* Две колонки */
  gap: 5px; /* Расстояние между колонками */
  /*align-items: start; !* Выравнивание по верхнему краю *!*/
  height: 100%;
}

.two-columns > * {
  //height: 0;
  min-height: 100%;
  overflow-y: auto;
  outline: 1px solid gray;
  outline-offset: -1px;
}